@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --White : #ffff;

    /* Dark blue */
    --Dark-blue100 : #609ED4;
    --Dark-blue200 : #356EA9;
    --Dark-blue300 : #0A3871;
    --Dark-blue400 : #072B61;
    --Dark-blue500 : #052051;

    /* Light blue */
    --Light-blue100 : #F3F5FC;
    --Light-blue200 : #EFF1FA;
    --Light-blue300 : #E9ECF8;
    --Light-blue400 : #AAB2D5;
    --Light-blue500 : #757FB2;

    /* Gray */
    --Gray100 : #CED4DA;
    --Gray200 : #ADB5BD;
    --Gray300 : #868E96;
    --Gray400 : #495057;
    --Gray500 : #343A40;
}

@media screen and (max-width : 1024px){
    .interaction{
        padding-left: 100px;
    }

    .text-input{
        width: 400px;
    }

    .btn-criptografar{
        width: 190px;
    }

    .btn-descriptografar{
        width: 190px;
    }
}

@media screen and (max-width : 768px){
    .interaction{
        padding: 40px 40px 0px 40px;
    }

    .text-input{
        width: 100%;
        height: 585px;
    }

    .out-response{
        width: 623px !important;
        height: 100% !important;
    }

    .btn-copy{
        margin-bottom: 20px;
    }

    .icon-alura{
        padding-left: 0px;
    }

    .content{
        display: flex;
        flex-direction: column;
    }

    .image-response-box{
        display: none;
    }

    .btn-criptografar{
        width: 688px;
        height: 67px;
    }

    .btn-descriptografar{
        width: 688px;
        height: 67px;
    }

    .buttons-main{
        display: flex;
        gap: 24px;
    }

    .response-box{
        width: 685px;
        height: 100%;
        max-height: 2000px;
        min-height: 133px;
        overflow: auto;
        margin: 64px 40px 0px 40px;
    }

    .msg-box{
        width: 100%;
        display: flex;
        gap: 10px;
    }

    .header{
        display: flex;
        justify-content: space-between;
    }

    .toggle{
        margin-right: 80px;
    }

}

@media screen and (max-width : 425px){
    .icon-alura{
        display: none;
    }

    .alura-icon-mobile{
        visibility: visible;
    }

    .interaction{
        padding: 15px;
    }

    .buttons-main{
        display: flex;
        flex-direction: column;
    }

    .btn-criptografar{
        width: 100%;
    }

    .btn-descriptografar{
        width: 100%;
    }

    .response-box{
        margin: 15px;
        width: 395px;
    }

    .footer{
        margin-top: 32px;
    }

    .msg-box{
        padding: 15px;
    }

    .header{
        display: flex;
        justify-content: space-around;
    }

    .toggle{
        margin-bottom: 5%;
        margin-right: 0px;
    }

    .out-response{
        width: 330px !important;
    }
}

@media screen and (max-width : 375px){
    .text-input{
        width: 345px;
    }

    .response-box{
        width: 345px;
    }

    .out-response{
        width: 290px !important;
    }

    .copy{
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media screen and (max-width : 320px){
    .text-input{
        width: 290px;
    }

    .response-box{
        width: 290px;
    }

    .out-response{
        width: 230px !important;
    }

    .footer-content{
        line-height: 140%;
    }
}

@media screen and (min-width : 1870px){
    .content{
        width: 1440px;
    }

    .interaction{
        margin-left: 200px;
    }
    
    .response-box{
        height: 870px;
    }

    .text-input{
        height: 600px;
    }

    .out-response{
        width: 225px !important;
    }

    .out-box{
        width: 336px !important;
    }

    .btn-copy{
        width: 300px !important;
    }

    .out-response{
        width: 83% !important;
        height: 82% !important;
    }
}

@media screen and (min-width : 2560px){
    .content{
        width: 1440px;
    }

    .interaction{
        margin-left: 400px;
    }
    
    .response-box{
        height: 870px;
    }

    .text-input{
        height: 600px;
    }
}