@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --White : #ffff;

    /* Dark blue */
    --Dark-blue100 : #609ED4;
    --Dark-blue200 : #356EA9;
    --Dark-blue300 : #0A3871;
    --Dark-blue400 : #072B61;
    --Dark-blue500 : #052051;

    /* Light blue */
    --Light-blue100 : #F3F5FC;
    --Light-blue200 : #EFF1FA;
    --Light-blue300 : #E9ECF8;
    --Light-blue400 : #AAB2D5;
    --Light-blue500 : #757FB2;

    /* Gray */
    --Gray100 : #CED4DA;
    --Gray200 : #ADB5BD;
    --Gray300 : #868E96;
    --Gray400 : #495057;
    --Gray500 : #343A40;
}

body{
    background-color: var(--Light-blue100);
    transition: .4s;
}

.header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.alura-icon-mobile{
    visibility: hidden;
    display: flex;
    margin: 15px;
}

.text-input{
    resize: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: var(--Dark-blue300);
    width: 680px;
    height: 675px;
    background-color: var(--Light-blue100);
    border: none;
    transition: .4s;
}
.text-input::placeholder{
    color: var(--Dark-blue300);
}
.text-input:focus{
    outline: none;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: rgba(133, 133, 133, 0.18);
    border-radius: 12px;
}
::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.32);
    border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(133, 133, 133, 0.49);
}

.icon-alura{
    margin-top: 40px;
    margin-left: 40px;
    transition: .4s;
}

.content{
    display: flex;
    width: 100vw;
}

.main{
    display: flex;
    flex-direction: column;
}

.interaction{
    padding-left: 240px;
    padding-top: 90px;
}

.action-main{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.alert-content{
    display: flex;
    gap: 7px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: var(--Gray400);
    transition: .4s;
}

.buttons-main{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 17px;
}

.response-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    margin-left: 80px;
    width: 400px;
    height: 944px;
    background-color: white;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.image-response-box{
    margin-bottom: 24px;
}

.msg-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 336px;
}

.btn-criptografar{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--White);
    background-color: var(--Dark-blue300);
    border-radius: 24px;
    border: none;
    width: 328px;
    height: 67px;
    transition: .4s;
}
.btn-criptografar:hover{
    cursor: pointer;
    background-color: var(--Dark-blue500);
}

.btn-descriptografar{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--Dark-blue300);
    background-color: transparent;
    border-radius: 24px;
    border: 1px solid var(--Dark-blue300);
    width: 328px;
    height: 67px;
}
.btn-descriptografar:hover{
    cursor: pointer;
    background-color: var(--Light-blue300);
}

.response-box{
    background-color: var(--White);
    
}

.p1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: var(--Gray500);
}

.p2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--Gray400);
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    height: 200px;
    width: 100%;
    background-color: var(--Dark-blue300);
}

.footer-content{
    line-height: 180%;
    color: var(--White);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

.alura-name{
    font-size: 32px;
}

.oracle-name{
    font-size: 24px;
}

.creator-name{
    font-size: 16px;
    margin-bottom: 5px;
}

.social-media{
    display: flex;
    justify-content: center;
    gap: 10%;
}